################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeduShop.Web/App_Data/TextFile1.txt
